* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.interface {
    background-color: #1B263B;
    border-color: #1B263B;
    border-radius: 30px;
}

.faqPerguntas {
    cursor: pointer;
    color: #E0E1DD;
}

.faqRespostas {
    color: #E0E1DD;
    text-align: center;
}

.respostas {
    background-color: #323b4f;
    border-color: #323b4f;
    border-radius: 10px;
    text-align: left;
}

.listas {
    background-color: #323b4f;
    border-color: #323b4f;
    border-radius: 10px;
}

.itensLista {
    font-size: 18px;
    margin-top: -20px;
}

h4 {
    margin-left: 5%;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}

.imagens {
    width: 60px;
    margin-left: 30px;

}

.bloco {
    color: #1B263B;
    border-radius: 30px;
    width: inherit;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #48E0B2 50%, #E2D45C 100%);
    padding-top: 3px;
    border-radius: 12px;
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

.album-list img {
    border-radius: 8px;
    width: 90px;
}