
.displayPLayer{
    width: max-content;
    display: inline-block;
    justify-content: center;
    background-color: #1B263B;
    border-color: #1B263B;
    border-radius: 30px;
}

.Player_butao{
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    padding-bottom: 40px;
    margin-top: -10px;
    
}



