.music{
    background-color: #2a3b5b;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    border: 3px #1B263B;
    border-radius: 10px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}