@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

#link1{
    text-decoration: none; 
    color: black;
}

#div1{
    text-align: center; 
    margin-bottom: 20px;
}

#img1{
    height: 250px;
    margin: auto;
}

* {
margin: 0;
border: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}


main.container {
    display: block;
    background: white;
    min-width: 200px;
    max-width: 550px;
    min-height: 40vh;
    max-height: 70vh;
    padding: 2rem;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

main h2 {
font-weight: 600;
margin-bottom: 2rem;
position: relative;
}

form {
display: flex;
flex-direction: column;
}

.input-field {
position: relative;
}

form .input-field:first-child {
margin-bottom: 1.5rem;
}

.input-field .underline::before {
content: '';
position: absolute;
height: 1px;
width: 100%;
bottom: -5px;
left: 0;
background: rgba(0, 0, 0, 0.2);
}

.input-field input:focus ~ .underline::after {
transform: scaleX(1);
}

.input-field input {
outline: none;
font-size: 0.9rem;
color: rgba(0, 0, 0, 0.7);
width: 100%;
}

.input-field input::placeholder {
color: rgba(0, 0, 0, 0.5);

}

form input[type="submit"] {
padding: 0.4rem;
width: 50%;
margin: 2rem auto;
background: linear-gradient(to left, #47e674, #24e724);
cursor: pointer;
color: rgb(0, 0, 0);
font-size: 0.9rem;
font-weight: 300;
border-radius: 4px;
transition: all 0.3s ease;
font-weight: 500;
}

form input[type="submit"]:hover {
letter-spacing: 0.5px;
background: linear-gradient(to right, #47d1e6, #541eea);
}

.footer {
display: flex;
flex-direction: column;
margin-top: 1rem;
}

.footer span {
color: rgba(0, 0, 0, 0.7);
font-size: 0.8rem;
text-align: center;
}

.footer .social-field {
padding: 0.4rem;
border-radius: 4px;
font-size: 0.85rem;
width: 50%;
margin: 2rem auto;
cursor: pointer;
}

.footer .social-field a i {
margin: 0 0.5rem;
width: 15px;
}

.footer .social-field a {
text-decoration: none;
color: white;
}

.footer .social-field.twitter {
background: linear-gradient(to right, #56a7f2, #468aca);
}

.footer .social-field.facebook {
background: linear-gradient(to right, #1e3c72, #2a5298);
}

label.signup{
padding-top: 20px;
}