.interface {
    background-color: #1B263B;
    border-color: #1B263B;
    border-radius: 30px;
    text-align: center;
}

#rowcenter{
    text-align: center;
    align-items: center;
}
.play{
    border-color: #2a3b5b;
    background-color: #2a3b5b;
}
.play:hover{
    border-color: #223049;
    background-color: #223049;
}

.playlists{
    color: lightgrey;
    font-size: large;
    height: 100px;
}

h4{
    color: beige;
}